@charset "UTF-8";

/* font */
@import "./assets/css/fonts.css";

/* reset */
@import "./assets/css/reset.css";

/* common */
@import "./assets/css/common.css";

/* header */
@import "./assets/css/header.css";

/* slider */
@import "./assets/css/slider.css";

/* img */
@import "./assets/css/img.css";

/* imgtext */
@import "./assets/css/imgtext.css";

/* card */
@import "./assets/css/card.css";

/* banner */
@import "./assets/css/banner.css";

/* text */
@import "./assets/css/text.css";

/* footer */
@import "./assets/css/footer.css";